:root{
    font-size: 16px;
    color: var(--font-color);
}
*{
    box-sizing: border-box;
}
body{
    background-color: var(--secondary-color);
    
}
.btn{
    background-color: rgb(142, 112, 57);
    height: 50px;
    width: 50px;
}
input{
    height: 59px;
}
img{
    max-width: 90%;
    
}

a {
    all: initial;
    color: var(--font-color);
    cursor: pointer;
    font-size: 21px;
    color: var(--gradient-color);
}

/* width */
::-webkit-scrollbar {
    width: 13px;
  }
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--gradient-color); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--gradient-color); 
    opacity: 0.5;
  }
