.gallery-container{
    display: none;
    background-color: var(--primary-color);
    height: max-content;
}


.gallery-filters{
    display: grid;
    gap: 10px;

    padding: 28px 20px;
    font-size: 1rem;
}
.gallery-filters input[type="text"] {
    /* background-image: url("../search.svg"); */
    /* background-repeat: no-repeat; */
    /* background-position: 10px right; */
    /* padding-right: 10px; */
    /* margin: 40px;  */
}
.gallery-filters  .more-btn{
    background: var(--gradient-color);
    color: var(--font-color);
    height: 32px;
    align-self: center;
    
}

.tags-container{
    display: grid;
    grid-template-columns: 1fr 90px;
    gap: 10px;
    height: 48px;
}
.tags{
    background-color: #88898D;
    color: var(--font-color);
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    
}

.img-gallery{
    display: grid;
    gap: 15px;
    padding: 0 10px;
    justify-content: center;
}
.img-gallery img{
    justify-self: center;
}