.gallery-container{
    /* display: block; */
    display: none;
    background-color: var(--primary-color);
    height: max-content;
}

.gallery-filters{
    display: grid;
    /* grid-template-columns: repeat(2,1fr); */
    grid-template-columns: 1fr max-content;
    gap: 10px;
    /* grid-template-rows: 1fr 1fr; */
    /* grid-template-columns: ; */
    /* gap: 15px; */

    padding: 28px 20px;
    font-size: 1rem;
}
.gallery-filters input[type="text"] {
    /* background-image: url("../search.svg"); */
    /* background-repeat: no-repeat; */
    /* background-position: 10px right; */
    /* padding-right: 10px; */
    /* margin: 40px;  */
}
.gallery-filter  .more-btn{
    font-size: 6rem;
    background-color: red;
    /* grid-column: 1/-1; */
    
}

.tags-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.tags{
    background-color: #88898D;
}

.img-gallery{
    display: grid;
    gap: 15px;
    padding: 0 10px;
    justify-content: center;
}
.img-gallery img{
    justify-self: center;
}