.main-header{
    display: grid;
    grid-template-columns: 1fr 50vw;
    align-items: center;

    height: 76px;

    background: rgba(89, 112, 193, 1);

}
nav{
    justify-self:start;
    display: flex;
    gap: 40px;
}
.logo{
    padding-inline-start: 125px;
}